DISCORD_TOKEN=
DISCORD_CLIENT_ID=
BOT_OWNER_IDS=985029300484968520
DATA_DIR=./data
EARTHQUAKE_POLL_SECONDS=5

# 同一Discordサーバーで最大4音声チャンネル同時再生する場合、追加BOTアプリ3体のトークンを設定
MUSIC_BOT_TOKEN_2=
MUSIC_BOT_TOKEN_3=
MUSIC_BOT_TOKEN_4=
